<Page xmlns="http://schemas.nativescript.org/tns.xsd" loaded="onLoad">
    <TabView selectedIndexChanged="indexChange" id="tabNavigation">
        <TabView.items>
            <TabViewItem title="Morsify">
                <TabViewItem.view>
                    <StackLayout>
                        <Label text="This will be the text to morse code section..." id="morsifyLabel" />
                        
                        <StackLayout class="morsifyStack"> 
                            <TextView hint="enter text to morsify" text="{{ Enter text to morsify }}" editable="true" class="morsifyTextView" />
                            <TextView hint="enter morse to textify" text="{{ Enter morse to textify }}" editable="true" class="morsifyTextView" />
                             
                            <Button text="Create Light Morse Code" class="morsifyButton"/>
                                
                        </StackLayout>
                        
                    </StackLayout>
                </TabViewItem.view>
            </TabViewItem>
            <TabViewItem title="Quiz">
                <TabViewItem.view>
                    <StackLayout>
                        <Label text="This will be quiz section..." id="quizLabel" />
                    </StackLayout>
                </TabViewItem.view>
            </TabViewItem>
            <TabViewItem title="Settings">
                <TabViewItem.view>
                    <StackLayout>
                    	<Label text="This will be settings section..." id="settingsLabel" />
                        <Slider propertyChange="change" minValue="{{ minValue }}" maxValue="{{ maxvalue }}" value=" {{ sliderValue }}" />
                        <Label text="{{ sliderValue }}" textWrap="true" />
                    </StackLayout>
                </TabViewItem.view>
            </TabViewItem>
            <TabViewItem title="Alphabet">
                <TabViewItem.view>
                    <StackLayout >
                    	<Label text="This will be morse alphabet section..." id="morseAlphabetLabel" />
                        <ListView  id="morseAlphabetListView" itemTap="onListViewTap" items="{{ myMorseItems }}">
                            <ListView.itemTemplate >
                                <StackLayout orientation="horizontal" stretch="fill">
                                   <Label text="{{ letter }}"  textWrap="true" class="morseLetterLabel" />
                                   <Label text="{{ code }}"  textWrap="true" class="morseLetterLabel" />
                                </StackLayout>
                            </ListView.itemTemplate>
                        </ListView>
                    </StackLayout>
                </TabViewItem.view>
            </TabViewItem>
        </TabView.items>
    </TabView>
</Page>