.playButton {
	width: 32;
	height: 32;
	margin: 20;
}

.morseLetterLabel {
    text-align : center;
    font-size: 32;
    margin: 20;
}

.morsifyTextView {
	margin: 10;
}

.morsifyStack {
	vertical-align: center;
	background-color: white;
	border-radius: 10;
	border-width: 2;
	border-color: gray;
	padding: 10;
	margin: 10;
}

.morsifyButton {
	margin: 10;
	border-width: 2;
	border-radius: 10;
	border-color: gray;
	height: 40;
}

.funcButton {
	margin: 5;
	border-width: 2;
	border-radius: 10;
	border-color: gray;
	height: 40;
}