/*
.container {
	background-color: #5F6B61;
	color:#DCF0F7;
}

.stackContainer {
	vertical-align: center;
}

.splashImage {
	margin: 20;
}

.headingLabel {
	font-family: sans-serif;
	font-size: 44;
    horizontal-align: center;
    margin: 20;
}

.subPageHeadingLabel {
    font-family: sans-serif;
    font-size: 24;
    horizontal-align: center;
    margin: 10;
    color: #DCF0F7;
}

button {
    font-size: 42;
    horizontal-align: center;
    color : orange;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

segmentedBar{
    background-color: #5E9DC8;
    color: #0C2C52;
}*/

tabNavigation{
    background-color: #5E9DC8;
    color: #0C2C52;
}